@model Period

@{
    ViewData["Title"] = "Edit";
}

<h3 class="text-center">Editing Period @Model.Name</h3>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="StartOn" class="control-label"></label>
                <input asp-for="StartOn" class="form-control" />
                <span asp-validation-for="StartOn" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EndOn" class="control-label"></label>
                <input asp-for="EndOn" class="form-control" />
                <span asp-validation-for="EndOn" class="text-danger"></span>
            </div>
 
            <input type="hidden" asp-for="Id" />
            <div class="form-group d-flex justifiy-content-center g-2">
                <input type="submit" value="Save" class="btn btn-primary me-3" />
                <a asp-action="Index" class="btn btn-dark "> <i class="fa-solid fa-arrow-left"></i>   Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
