@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<a asp-action="Index" asp-controller="Home" class="text-nowrap logo-img text-center d-block py-3 w-100">
    <img src="~/images/logos/loginLogo.png" alt="" style="width:75px; height:75px; border-radius:50%">
</a>
<p class="text-center text-nowrap fw-bolder text-primary fs-4 mb-3">Log In To Leave Management System</p> 
<form id="account" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
        <label asp-for="Input.Password" class="form-label"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label text-nowrap">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
       
        

    </div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary text-nowrap"><i class="ti ti-login me-2"></i>Log in</button>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
        <p class="my-1 me-2">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-nowrap">Register as a new user</a>
        </p>
        <a id="forgot-password" asp-page="./ForgotPassword" class="text-primary fw-bold text-nowrap">Forgot your password?</a>
        
    </div>
  
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
